/* need to add some responsiveness css for inputs on mobile */
body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: clamp(75vh, 75vh, 75vh);
    
}

.main-box-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* width: clamp(100px, 600px, 600px); */
    /* width: 600px;
    height: 300px; */
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding: 100px 50px;
    margin-top: 10px;
}

.main-box {
    position: relative;
    display: flex;
    /* width: 600px;
    height: 300px; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}

.input-container {
    margin: 20px;
    display: flex;
    align-self: center;
}

.input-column {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1px;
    text-align: center;
    font-size: 1.3rem;
    height: 40px;
    border: 2px solid #dadce0;
}

.equals {
    /* I put position absolute here because the equals sign was being difficult in a responsive layout */
    position: absolute;   
    /* padding: 30px; */
    padding: 30px;
    margin: 30px;
    font-size: 36px;
    color: black;
    font-weight: bold;
}

.formula-info {
    display:flex;
    align-self:flex-start;
    padding-left: 20px;
}

.formula-highlight {
    background-color: #F9AB00;
    border-radius: 2px;
    color: white;
    padding: 1px 3px 1.5px 3px;
}

label {
    border: 3px solid #ECEDEF;
    background-color:#F8F9FA;
    padding: .2rem .2rem .2rem .6rem;
    font-size: 1.3rem;
}

select {
    background: #f8f9fa;
    border: 2px solid #dadce0;
    font-size: 1.3rem;
    height: 40px;
    line-height: 20px;
    padding: .2rem .2rem .2rem .6rem;
    /* vertical-align: middle; */
    /* -webkit-appearance: none;
    background-position-x: 95%; */
    /* border-radius: 0 0 2px 2px; */
    color: #222;
    /* margin-top: -1px; */
}

option {
    font-size: 1rem;
}
