body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: 75vh;
    
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    padding: 50px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;

}

.input-container {
    margin: 20px;
}

.input-column {
    display: flex;
    flex-direction: column;
}

input {
    padding: 1px;
    text-align: center;
    font-size: 1.3rem;
    height: 40px;
    border: 1px solid #dadce0;
}

label {
    border: 2px solid #ECEDEF;
    background-color:#F8F9FA;
    padding: .2rem .2rem .2rem .6rem;
    font-size: 1.3rem;
}

.equals {
    display: inline-block;
    align-items: center;
    padding: 3px;
    margin: 3px;
    font-size: 36px;
    color: black;
    font-weight: bold;
}

.formula-info {
    display:flex;
    align-self:flex-start;
    padding-left: 10px;
}

.formula-highlight {
    background-color: #F9AB00;
    border-radius: 2px;
    color: white;
    padding: 1px 3px 1.5px 3px;
}